* {
  margin: 0;
}

body {
  background-color: #f4f6f8;
}

/* header */
header {
  background: url("../assets/mobile/bg-pattern-header.svg") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 35px;
}

.toggle-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35px;
  margin-top: 37px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.toggle-theme .toggle-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 15px;
  background-color: #fff;
  border: none;
  border-radius: 12px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  cursor: pointer;
}

.toggle-theme .toggle-switch input {
  display: none;
}

.toggle-theme .toggle-switch .toggle-btn {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #5964E0;
  margin: 0;
  padding: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-theme .toggle-switch input:checked + .toggle-btn {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

/* main */
main {
  text-align: center;
  margin: 35px;
  margin-top: 0;
}

.filter-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  top: 100px;
  z-index: 2;
}

.filter1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  height: auto;
  padding: 15px;
  width: 100%;
  margin-left: 35px;
  margin-right: 35px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.filter1 input,
.filter2 input {
  border: none;
}

.filter1 .filter-img,
.filter2 .filter-img {
  margin-right: 15px;
}

.filter2 {
  display: none;
}

.search-btn {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #5964E0;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.search-btn img {
  width: 20px;
  height: auto;
}

.search-btn:hover {
  background-color: #939bf4;
}

.jobs-container {
  margin-top: 225px;
}

.jobs-container .job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  background-color: #fff;
  height: 175px;
  max-width: 100%;
  border-radius: 5px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 25px;
  padding-top: 0;
  margin-bottom: 50px;
}

.jobs-container .job-logo {
  width: 50px;
  height: 50px;
  position: relative;
  top: -25px;
  border-radius: 10px;
  border: blue 1px solid;
}

@media only screen and (min-width: 768px) {
  header {
    background: url("../assets/tablet/bg-pattern-header.svg") no-repeat;
    background-size: cover;
  }
  .filter1 {
    display: none;
  }
  .filter2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    height: auto;
    padding: 15px;
    width: 100%;
    margin-left: 35px;
    margin-right: 35px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .filter2 .input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filter2 .input-container img {
    margin-right: 10px;
    width: auto;
    height: 17px;
  }
  .filter2 .input-container #full-time-checkbox {
    border: none;
    height: 15px;
    width: 15px;
    background-color: #f4f6f8;
  }
  .jobs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .jobs-container .job {
    width: 40%;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    background: url("../assets/desktop/bg-pattern-header.svg") no-repeat;
    background-size: cover;
  }
  .jobs-container {
    gap: 10px;
  }
  .jobs-container .job {
    width: 320px;
  }
}
/*# sourceMappingURL=style.css.map */